<%
    const {gameId, gameStatus, division, broadcaster, field} = data
%>

<!-- Game info -->
<section class="game-info">
    <p class="primary-cell"><%- gameId %></p>
    <p class="primary-cell"><%- gameStatus %></p>
    <p class="primary-cell"><%- division %></p>
    <p class="primary-cell"><%- broadcaster %></p>
    <p class="primary-cell"><%- field %></p>
</section>