<div class="player-card">
    <!-- Left side of card -->
    <div class="jersey-num gender-<%- player.gender %>">
        <p><%- player.jerseyNumber %></p>
    </div>

    <!-- Right side of card -->
    <div class="player-stats">
        <% if (player.pronounced !== null) { %>
            <div class="player-name-container">
                <p class="player-name"><%- player.name %></p>
                <p class="player-pronounced"><%- player.pronounced %></p>
            </div>
        <% } else{ %>
            <p class="player-name"><%- player.name %></p>
        <% } %>
        <div class="actions">
            <p class="goal"><%- parsedStats.scoredPoints.filter(sp => sp.scoredBy === player.playerId).length %></p>
            <p class="assist"><%- parsedStats.scoredPoints.filter(sp => sp.assistBy === player.playerId).length %></p>
            <p class="block">
                <%- parsedStats.scoredPoints.reduce((count, sp) => {
                    if (sp.blockPlayers) { // need to check that there is a blockPlayers object before working on it for backwards compatibility
                        return count = count + sp.blockPlayers.filter(bp => bp === player.playerId).length
                    } else {
                        return count = 0
                    }
                }, 0); %>
            </p>
            <p class="turnover">
                <%- parsedStats.scoredPoints.reduce((count, sp) => {
                    if (sp.turnoverPlayers) { // need to check that there is a turnoverPlayers object before working on it for backwards compatibility
                        return count = count + sp.turnoverPlayers.filter(tp => tp === player.playerId).length
                    } else {
                        return count = 0
                    }
                }, 0); %>
            </p>
        </div>
    </div>
</div>