<%- include ('./partials/head') %>

<main>
    <!-- Game info -->
    <section class="game-info">
        <p class="primary-cell"><%- data.gameId %></p>
        <p class="primary-cell"><%- data.gameStatus %></p>
        <p class="primary-cell"><%- data.division %></p>
        <p class="primary-cell"><%- data.broadcaster %></p>
        <p class="primary-cell"><%- data.field %></p>
    </section>

    <!-- Team info -->
    <section class="team-info">
        <div class="team">
            <!-- Flag based on Olympic Code -->
            <img src="https://flagsapi.com/<%- data.team1CountryISO2Code %>/flat/64.png" alt="Flag of <%- data.team1CountryName %>" width="64">

            <!-- Info about team such as name and olympic code -->
            <div class="team-desc">
                <p class="team-name"><%- data.team1Name %></p>
                <p class="team-country">(<%- data.team1CountryOlympicCode %>)</p>
            </div>
        </div>
        <div class="score">
            <p class="game-score"><%- parsedStats.team1Score %> - <%- parsedStats.team2Score %></p>
        </div>
        <div class="team">
            <!-- Flag based on Olympic Code -->
            <img src="https://flagsapi.com/<%- data.team2CountryISO2Code %>/flat/64.png" alt="Flag of <%- data.team2CountryName %>" width="64">

            <!-- Info about team such as name and olympic code -->
            <div class="team-desc">
                <p class="team-name"><%- data.team2Name %></p>
                <p class="team-country">(<%- data.team2CountryOlympicCode %>)</p>
            </div>
        </div>
    </section>

    <!-- Tab selector -->
    <section class="tabs">
        <p>Points</p>
        <p>Stats</p>
        <p>Config</p>
    </section>

    <!-- Points -->
    <section class="scoreboard">
        <table>
            <thead>
                <tr>
                    <th>Pass</th>
                    <th>Turn</th>
                    <th>O/D</th>
                    <th colspan="3">Score</th>
                    <th>O/D</th>
                    <th>Turn</th>
                    <th>Pass</th>
                </tr>
            </thead>
            <tbody>
                <% parsedStats.scoredPoints.forEach(scoreStat => { %>
                    <tr>
                        <td><%- scoreStat.team1Passes %></td>
                        <td><%- scoreStat.team1Turnovers %></td>
                        <td><%- scoreStat.team1OorD %></td>
                        <td class="table-score"><%- scoreStat.team1Score %></td>
                        <td class="table-score">-</td>
                        <td class="table-score"><%- scoreStat.team2Score %></td>
                        <td><%- scoreStat.team2OorD %></td>
                        <td><%- scoreStat.team2Turnovers %></td>
                        <td><%- scoreStat.team2Passes %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </section>

    <!-- Legend -->
    <section class="legend">
        <p class="green legend-cell">Goals</p>
        <p class="blue legend-cell">Assists</p>
        <p class="red legend-cell">Blocks</p>
        <p class="yellow legend-cell">Turnovers</p>
    </section>

    <!-- Players -->
    <div class="players">
        <!-- Stats per player team one -->
        <section class="team-one-players">
            <h2 class="team-name-heading"><%- data.team1Name %></h2>
            
            <!-- Individual player card -->
            <% data.team1Players.forEach(player => { %>
                <%- include ('./partials/playerList', {player: player}) %>
            <% }) %>
        </section>

        <!-- Stats per player team two -->
        <section class="team-two-players">
            <h2 class="team-name-heading"><%- data.team2Name %></h2>

            <!-- Individual player card -->
            <% data.team2Players.forEach(player => { %>
                <%- include ('./partials/playerList', {player: player}) %>
            <% }) %>
        </section>
    </div>

</main>

<%- include ('./partials/footer') %>