<%- include ('./partials/head') %>

<%# extraPlayerData[0].id %>
<%
    const {team1CountryISO2Code, team2CountryISO2Code, team1CountryName} = data
%>
<main>
    <!-- Game info -->
    <section class="game-info">
        <p class="primary-cell"><%- data.gameId %></p>
        <p class="primary-cell"><%- data.gameStatus %></p>
        <p class="primary-cell"><%- data.division %></p>
        <p class="primary-cell"><%- data.broadcaster %></p>
        <p class="primary-cell"><%- data.field %></p>
    </section>

    <!-- Team info -->
    <section class="team-info">
        <div class="team">
            <!-- Flag based on Olympic Code -->
            <img class="team-flag" src="https://flagcdn.com/<%- team1CountryISO2Code %>.svg" alt="Flag of <%- team1CountryName %>" width="64">

            <!-- Info about team such as name and olympic code -->
            <div class="team-desc">
                <p class="team-name"><%- data.team1Name %></p>
                <p class="team-country">(<%- data.team1CountryOlympicCode %>)</p>
            </div>
        </div>
        
        <div class="score">
            <p class="game-score"><%- parsedStats.team1Score %> - <%- parsedStats.team2Score %></p>
        </div>
        <div class="team">
            <!-- Flag based on Olympic Code -->
            <img class="team-flag" src="https://flagcdn.com/<%- team2CountryISO2Code %>.svg" alt="Flag of <%- data.team2CountryName %>" width="64">

            <!-- Info about team such as name and olympic code -->
            <div class="team-desc">
                <p class="team-name"><%- data.team2Name %></p>
                <p class="team-country">(<%- data.team2CountryOlympicCode %>)</p>
            </div>
        </div>
    </section>

    <!-- Tab selector -->
    <section class="tabs">
        <p>Points</p>
        <p>Stats</p>
        <p>Config</p>
    </section>
    <%# include('tabs', {}) %>

    <!-- Points -->
    <section class="scoreboard">
        <table>
            <thead>
                <tr>
                    <th>Pass</th>
                    <th>Turn</th>
                    <th>O/D</th>
                    <th colspan="3">Score</th>
                    <th>O/D</th>
                    <th>Turn</th>
                    <th>Pass</th>
                </tr>
            </thead>
            <tbody>
                <% parsedStats.scoredPoints.forEach(scoreStat => { %>
                    <tr>
                        <%# Check if team 1 scored and adjust table colors %>
                        <% if (scoreStat.scored === scoreStat.team1Name) { %>
                            <%# If team 1 was on offense during scored point -> hold, which means dark green color %>
                            <% if (scoreStat.team1OorD === "O") { %>
                                <td class="hold"><%- scoreStat.team1Passes %></td>
                                <td class="hold"><%- scoreStat.team1Turnovers %></td>
                                <td class="hold"><%- scoreStat.team1OorD %></td>
                            <% } else { %>
                            <%# If team 1 was on defence during scored point -> break, which means green color %>
                                <td class="break"><%- scoreStat.team1Passes %></td>
                                <td class="break"><%- scoreStat.team1Turnovers %></td>
                                <td class="break"><%- scoreStat.team1OorD %></td>
                            <% } %>
                        <% } else { %>
                            <%# If team 1 was scored on during defence -> conceded, which means dark red color %>
                            <% if (scoreStat.team1OorD === "D") { %>
                                <td class="conceded"><%- scoreStat.team1Passes %></td>
                                <td class="conceded"><%- scoreStat.team1Turnovers %></td>
                                <td class="conceded"><%- scoreStat.team1OorD %></td>
                            <% } else { %>
                            <%# If team 1 was scored on during offense -> broken, which means red color %>
                                <td class="broken"><%- scoreStat.team1Passes %></td>
                                <td class="broken"><%- scoreStat.team1Turnovers %></td>
                                <td class="broken"><%- scoreStat.team1OorD %></td>
                            <% } %>
                        <% } %>
                        
                        <td class="table-score"><%- scoreStat.team1Score %></td>
                        <td class="table-score">-</td>
                        <td class="table-score"><%- scoreStat.team2Score %></td>

                        <%# Check if team 2 scored and adjust table colors %>
                        <% if (scoreStat.scored === scoreStat.team2Name) { %>
                            <%# If team 2 was on offense during scored point -> hold, which means dark green color %>
                            <% if (scoreStat.team2OorD === "O") { %>
                                <td class="hold"><%- scoreStat.team2OorD %></td>
                                <td class="hold"><%- scoreStat.team2Turnovers %></td>
                                <td class="hold"><%- scoreStat.team2Passes %></td>
                                
                            <% } else { %>
                            <%# If team 2 was on defence during scored point -> break, which means green color %>
                            <td class="break"><%- scoreStat.team2OorD %></td>
                            <td class="break"><%- scoreStat.team2Turnovers %></td>
                            <td class="break"><%- scoreStat.team2Passes %></td>
                            <% } %>
                        <% } else { %>
                            <%# If team 2 was scored on during defence -> conceded, which means dark red color %>
                            <% if (scoreStat.team2OorD === "D") { %>
                                <td class="conceded"><%- scoreStat.team2OorD %></td>
                                <td class="conceded"><%- scoreStat.team2Turnovers %></td>
                                <td class="conceded"><%- scoreStat.team2Passes %></td>
                            <% } else { %>
                            <%# If team 2 was scored on during offense -> broken, which means red color %>
                            <td class="broken"><%- scoreStat.team2OorD %></td>
                            <td class="broken"><%- scoreStat.team2Turnovers %></td>
                            <td class="broken"><%- scoreStat.team2Passes %></td>
                            <% } %>
                        <% } %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </section>

    <!-- Legend -->
    <section class="legend">
        <p class="green legend-cell">Goals</p>
        <p class="blue legend-cell">Assists</p>
        <p class="red legend-cell">Blocks</p>
        <p class="yellow legend-cell">Turnovers</p>
    </section>

    <!-- Players -->
    <div class="players">
        <!-- Stats per player team one -->
        <section class="team-players">
            <h2 class="team-name-heading"><%- data.team1Name %></h2>
            
            <!-- Individual player card -->
            <% data.team1Players.forEach(player => { %>
                <div class="player-card">
                    <!-- Left side of card -->
                    <div class="jersey-num gender-<%- player.gender %>">
                        <p><%- player.jerseyNumber %></p>
                    </div>
                
                    <!-- Right side of card -->
                    <div class="player-stats">
                        <% if (player.pronounced !== null) { %>
                            <div class="player-name-container">
                                <% if (player.hasInformation) { %>
                                    <p class="player-name player-extra-info" id="<%- player.playerId %>"><%- player.name %></p>

                                    <!-- Form fetch data per player -->

                                    <form action="/" method="get" name="player-extra-info-form" class="player-extra-info-form">
                                        <input type="number" name="playerId" hidden value="<%- player.playerId %>">
                                        <input type="submit" value="I">
                                    </form>

                                    <!-- Modal with extra info -->
                                    
                                    <div class="modal" id="modal<%- player.playerId %>">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <!-- loop through player.information -->
                                            <p><%- player.name %></p>
                                            <% if (typeof parsedPlayerData !== 'undefined') { %>
                                                <% parsedPlayerData.forEach(playerInfo => { %>
                                                    <p><strong><%- playerInfo.title %></strong> - <%- playerInfo.content %></p>
                                                <% }) %>
                                            <% }else{ %>
                                                <p>No information available</p>
                                            <% } %>
                                        </div>
                                    </div>

                                <% } else {%>
                                    <p class="player-name"><%- player.name %></p>
                                <% } %>
                                <p class="player-pronounced"><%- player.pronounced %></p>
                            </div>
                        <% } else{ %>
                            <div class="player-name-container">
                                <% if (player.hasInformation) { %>
                                    <p class="player-name player-extra-info" id="<%- player.playerId %>"><%- player.name %></p>

                                    <!-- Form fetch data per player -->

                                    <form action="/" method="get" name="player-extra-info-form" class="player-extra-info-form">
                                        <input type="number" name="playerId" hidden value="<%- player.playerId %>">
                                        <input type="submit" value="I">
                                    </form>

                                    <!-- Modal with extra info -->
                                    
                                    <div class="modal" id="modal<%- player.playerId %>">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <!-- loop through player.information -->
                                            <p><%- player.name %></p>
                                            <% if (typeof parsedPlayerData !== 'undefined') { %>
                                                <% parsedPlayerData.forEach(playerInfo => { %>
                                                    <p><strong><%- playerInfo.title %></strong> - <%- playerInfo.content %></p>
                                                <% }) %>
                                            <% }else{ %>
                                                <p>No information available</p>
                                            <% } %>
                                        </div>
                                    </div>
                                
                                    <% } else {%>
                                    <p class="player-name"><%- player.name %></p>
                                <% } %>
                            </div>
                        <% } %>

                        <div class="actions">
                            <p class="goal"><%- parsedStats.scoredPoints.filter(sp => sp.scoredBy === player.playerId).length %></p>
                            <p class="assist"><%- parsedStats.scoredPoints.filter(sp => sp.assistBy === player.playerId).length %></p>
                            <p class="block">
                                <%- parsedStats.scoredPoints.reduce((count, sp) => {
                                    if (sp.blockPlayers) { // need to check that there is a blockPlayers object before working on it for backwards compatibility
                                        return count = count + sp.blockPlayers.filter(bp => bp === player.playerId).length
                                    } else {
                                        return count = 0
                                    }
                                }, 0); %>
                            </p>
                            <p class="turnover">
                                <%- parsedStats.scoredPoints.reduce((count, sp) => {
                                    if (sp.turnoverPlayers) { // need to check that there is a turnoverPlayers object before working on it for backwards compatibility
                                        return count = count + sp.turnoverPlayers.filter(tp => tp === player.playerId).length
                                    } else {
                                        return count = 0
                                    }
                                }, 0); %>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </section>

        <!-- Stats per player team two -->
        <section class="team-players">
            <h2 class="team-name-heading reverse"><%- data.team2Name %></h2>

            <!-- Individual player card -->
            <% data.team2Players.forEach(player => { %>
                <div class="player-card flex-reversed">
                    <!-- Left side of card -->
                    <div class="jersey-num gender-<%- player.gender %> num-reversed">
                        <p><%- player.jerseyNumber %></p>
                    </div>
                
                    <!-- Right side of card -->
                    <div class="player-stats flex-reversed">
                        <% if (player.pronounced !== null) { %>
                            <div class="player-name-container">
                                <% if (player.hasInformation) { %>
                                    <p class="player-name player-extra-info" id="<%- player.playerId %>"><%- player.name %></p>

                                    <!-- Form fetch data per player -->

                                    <form action="/" method="get" name="player-extra-info-form" class="player-extra-info-form">
                                        <input type="number" name="playerId" hidden value="<%- player.playerId %>">
                                        <input type="submit" value="I">
                                    </form>

                                    <!-- Modal with extra info -->
                                    
                                    <div class="modal" id="modal<%- player.playerId %>">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <!-- loop through player.information -->
                                            <p><%- player.name %></p>
                                            <% if (typeof parsedPlayerData !== 'undefined') { %>
                                                <% parsedPlayerData.forEach(playerInfo => { %>
                                                    <p><strong><%- playerInfo.title %></strong> - <%- playerInfo.content %></p>
                                                <% }) %>
                                            <% }else{ %>
                                                <p>No information available</p>
                                            <% } %>
                                        </div>
                                    </div>

                                <% } else {%>
                                    <p class="player-name"><%- player.name %></p>
                                <% } %>
                                <p class="player-pronounced"><%- player.pronounced %></p>
                            </div>
                        <% } else{ %>
                            <div class="player-name-container">
                                <% if (player.hasInformation) { %>
                                    <p class="player-name player-extra-info" id="<%- player.playerId %>"><%- player.name %></p>

                                    <!-- Form fetch data per player -->

                                    <form action="/" method="get" name="player-extra-info-form" class="player-extra-info-form">
                                        <input type="number" name="playerId" hidden value="<%- player.playerId %>">
                                        <input type="submit" value="I">
                                    </form>

                                    <!-- Modal with extra info -->
                                    
                                    <div class="modal" id="modal<%- player.playerId %>">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <!-- loop through player.information -->
                                            <p><%- player.name %></p>
                                            <% if (typeof parsedPlayerData !== 'undefined') { %>
                                                <% parsedPlayerData.forEach(playerInfo => { %>
                                                    <p><strong><%- playerInfo.title %></strong> - <%- playerInfo.content %></p>
                                                <% }) %>
                                            <% }else{ %>
                                                <p>No information available</p>
                                            <% } %>
                                        </div>
                                    </div>

                                <% } else {%>
                                    <p class="player-name"><%- player.name %></p>
                                <% } %>
                            </div>
                        <% } %>

                        <div class="actions flex-reversed">
                            <p class="goal"><%- parsedStats.scoredPoints.filter(sp => sp.scoredBy === player.playerId).length %></p>
                            <p class="assist"><%- parsedStats.scoredPoints.filter(sp => sp.assistBy === player.playerId).length %></p>
                            <p class="block">
                                <%- parsedStats.scoredPoints.reduce((count, sp) => {
                                    if (sp.blockPlayers) { // need to check that there is a blockPlayers object before working on it for backwards compatibility
                                        return count = count + sp.blockPlayers.filter(bp => bp === player.playerId).length
                                    } else {
                                        return count = 0
                                    }
                                }, 0); %>
                            </p>
                            <p class="turnover">
                                <%- parsedStats.scoredPoints.reduce((count, sp) => {
                                    if (sp.turnoverPlayers) { // need to check that there is a turnoverPlayers object before working on it for backwards compatibility
                                        return count = count + sp.turnoverPlayers.filter(tp => tp === player.playerId).length
                                    } else {
                                        return count = 0
                                    }
                                }, 0); %>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </section>
    </div>

</main>

<%- include ('./partials/footer') %>